@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

body {
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
}
.cp {
  cursor: pointer;
}
.post-card {
  margin-top: 20px;
}
